.container {
    background-color: #030386;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    width: 25rem;
    height: 100rem;
}

.nav {
    color: #fff;
    display: flex;
    flex-direction: column;
}
.navitem, .submitButton {
    align-items: center;
    font-size: 1.5em;
    margin-top: 5rem;
    padding: 10px;
}

.navitem span {
    padding-left: 1.5em;
}

.navitem:hover{
    background-color: #bfbfbfa1;
    cursor: pointer;
}