.top {
    display: flex;
    padding: 10em;
    height: 25rem;
    width: -webkit-fill-available;
    align-items: center;
    justify-content: space-evenly;
    background-color: #01015c;
}

.top p {
    font-size: 2.5em;
    color: #fff;
}

.welcome {
    padding: 2em;
}